<div class="row">
  <div class="col-lg-9 main-chart">
    <p class="title">ADD OWNER</p>
  </div>
</div>
<div class="row">
  <form name="form" (ngSubmit)="save()">
    <div class="col-lg-9 main-chart">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 border">
          <div class="border-title">username</div>
          <div class="container-4">
            <input type="text" id="update" [(ngModel)]="owner.username" name="username" required>
          </div>
        </div>
        <div class="col-lg-5 border">
          <div class="border-title">phone number</div>
          <div class="container-4">
            <input type="text" id="update" [(ngModel)]="owner.phoneNo" name="phoneNo" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 border">
          <div class="border-title">email</div>
          <div class="box">
            <div class="container-4">
              <input type="text" id="update" [(ngModel)]="owner.email" name="email" required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="full-button">
            <input type="submit"  class="save-button-text" value="Save owner">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>