
            <div class="row">
              <div class="col-lg-9 main-chart">
                  <div class="row">
                    <p class="title">CHANGE TYPE</p>
                  </div>
                  <div class="row">
             
                      <div class="container">
                          <div class="check" *ngFor="let type of glitchTypes ; let i=index; ">
                                <input id="{{i}}" type="radio" name="types" [value]="type" [checked]="type.id === pricelist.type.id" (change)="onSelectionChange(type)"/>
                                <label for="{{i}}" (change)="onSelectionChange(type)"> 
                                  <div class="box" (change)="onSelectionChange(type)"><i class="fa fa-check"></i></div>
                                  <div class="text" (change)="onSelectionChange(type)">{{type.type}}</div>
                                </label>                
                          </div>   
                      </div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                      <div class="full-button" style="background-color: #cbc5c1;" >
                        <a class="full-button-text" (click)="goBack()" >Cancel
                          </a>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="full-button" >
                        <input type="submit" class="save-button-text" (click)="update()" value="Save">
                      </div>
                    </div>
                  </div>
            </div>
            </div>

  