
			<div class="row">
				<div class="col-lg-9 main-chart">
					<p class="title">PENDING GLITCHES</p>
				</div>
			</div>
			<div class="row">

				<div class="col-lg-9 main-chart">
					<div class="row">
						<div class="col-lg-1"></div>
						<div class="col-lg-10">
							<div *ngFor="let glitch of glitches ; let i = index">
								<ul (click)="gotoGetGlitch(glitch.id)">
									<li>
										<div class="lists">
											<div class="first">{{glitch.dateOfReport | date}}</div>
											<div class="sec"> {{glitch.description}} </div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>