<div class="row">
  <div class="col-lg-9 main-chart">
    <p class="title">{{mode}} BUILDING</p>
  </div>
</div>
<div class="row">
  <form name="form" (ngSubmit)="save()">
    <div class="col-lg-9 main-chart">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 border">
          <div class="border-title">city</div>
          <div class="container-4">
            <input type="text" id="city" [(ngModel)]="building.address.city" name="city" required autofocus>
          </div>
        </div>
        <div class="col-lg-5 border">
          <div class="border-title">zip code</div>
          <div class="container-4">
            <input type="number" id="zipCode" [(ngModel)]="building.address.zipCode" name="Zip code" required>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 border">
          <div class="border-title">street</div>
          <div class="box">
            <div class="container-4">
              <input type="text" id="street" [(ngModel)]="building.address.street" name="street" required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 border">
          <div class="border-title">number</div>
          <div class="box">
            <div class="container-4">
              <input type="text" id="number" [(ngModel)]="building.address.number" name="number" required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="full-button">
            <input type="submit"  class="save-button-text" value="Save building">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

                  
