<div class="row">
    <div class="col-lg-9 main-chart">
      <p class="title">PROFILE</p>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-9 main-chart">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 border">
          <div class="border-title">username <div class="border-title-hover" (click)="goToChangePass()" style="float:right;">change passport</div></div>
          <div class="border-desc">{{company.username}}</div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 border">
          <div class="border-title">email</div>
          <div class="border-desc">{{company.email}}</div>
        </div>
        <div class="col-lg-5 border">
          <div class="border-title">phone no.</div>
          <div class="border-desc">{{company.phoneNo}}</div>
        </div>

      </div>
      
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="full-button" (click)="goToUpdate()">
            <a class="full-button-text">Update
              data</a>
          </div>
        </div>
      </div>
    </div>
  </div>