			<div class="row">
				<div class="col-lg-9 main-chart">
					<p class="title">UPDATE PROFILE</p>
				</div>
			</div>
			<div class="row">
				<form #chpForm="ngForm" (ngSubmit)="saveCompany()">
				<div class="col-lg-10 main-chart">
					<div class="row">
                              <div class="col-lg-1"></div>
                              <div class="col-lg-10 border">
                                  <div class="border-title">old password </div>							
                                  <div class="container-4">
                                        <input type="password" id="update" name="old" [(ngModel)]="userPassword.currentPassword" required >
                                  </div>	
                              </div>                             
                        </div>
                    <div class="row">
                              <div class="col-lg-1"></div>
                              <div class="col-lg-10 border">
                                  <div class="border-title">new password </div>							
                                  <div class="container-4">
                                        <input type="password" id="update" name="new" [(ngModel)]="userPassword.newPassword1" pattern=".{6,}" required >
                                  </div>	
                              </div>                             
                        </div>
						<div class="row">
                              <div class="col-lg-1"></div>
                              <div class="col-lg-10 border">
                                  <div class="border-title">new password again</div>	
                                  <div class="container-4">
                                        <input  type="password" id="update" name="new2" [(ngModel)]="userPassword.newPassword2" pattern=".{6,}" required >
                                  </div>						
                                  
                              </div>                             
                        </div>

					<div class="row">
						<div class="col-lg-1"></div>
						<div class="col-lg-5">
							<div class="full-button" style="background-color: #cbc5c1;" >
								<a class="full-button-text" (click)="cancel()" >Cancel
									</a>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="full-button" >
								<input type="submit" class="save-button-text" value="Save" [disabled]="chpForm.form.invalid">
							</div>
						</div>
					</div>
				</div>
			</form>
			</div>