<div class="row">
  <div class="col-lg-9 main-chart">
    <p class="title">{{mode}} APARTMENT</p>
  </div>
</div>
<div class="row">
  <form name="form" (ngSubmit)="save()">
    <div class="col-lg-9 main-chart">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 border">
          <div class="border-title">number*</div>
          <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['number'].valid && complexForm.controls['number'].touched}">
            <input type="number" id="number" class="form-control"  [(ngModel)]="apartment.number" name="number" [formControl]="complexForm.controls['number']" required autofocus >
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 border">
          <div class="border-title">description*</div>
          <div class="box">
            <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['description'].valid && complexForm.controls['description'].touched}">
              <input type="text" id="description" class="form-control" [(ngModel)]="apartment.description" name="description" [formControl]="complexForm.controls['description']" required>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="full-button">
            <button type="submit"  class="save-button-text" [disabled]="!complexForm.valid">Save apartment</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>