<section>
  <div class="row">
    <div class="col-lg-9 main-chart">
      <p class="title">SURVEY</p>
      <p class="delete-button" *ngIf="!expired">
        <a class="delete-x" (click)="deleteSurvey()">x</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 main-chart">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 border">
          <div class="border-title">title</div>
          <div class="border-desc" id="title">{{survey.title}}</div>
        </div>
      </div>
      <br><br>
      <div *ngFor="let question of survey.questions; let i=index">
      <div class="row">
        <div class="col-lg-9 main-chart pFont">
          <p class="title">QUESTION {{i+1}}</p>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="notification">
              <p> <br> {{question.text}} <br> &nbsp; </p>
            </div>
          </div>   
      </div>
      <div class="row" >
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
              <ul>
                <li *ngFor="let option of question.options; let j=index"> 
                    <span *ngIf="expired" style="color: black;">{{option.count}}</span>
                    <div class="lists" >
                        <div class="first">{{j+1}}</div> 
                        <div class="sec">{{option.text}}</div>
                    </div>
                  </li>
              </ul>
          </div>  
    </div>
      <br>
    </div>
    </div>
    </div>
</section>
  