.save-button-text {
    color: #4c586f;
    opacity: 0.7;
    border: #BED297;
    background-color: #BED297;
}

.save-button-text:hover{
     text-decoration-color: #a2aab0;
     opacity: 0.2;
}

.delete-button{
    top:31px;
   left:31px;
   cursor:pointer;
   width:20px;
   height:20px;
   border:1px solid #DB6374;
   border-radius:12px;
   box-shadow:3px 3px 3px #999999;
   background-color:#DB6374;
   float: right; 
   text-align: center; 
}

.delete-x:visited, .delete-x{
    color: white; 
    padding-top: 10px;
}