<section>
  <div class="row">
    <div class="col-lg-9 main-chart">
      <p class="title">GLITCH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 main-chart">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 border">
          <div class="border-title">type</div>
          <div class="border-desc">{{glitch.type.type}}</div>
        </div>
        <div class="col-lg-5 border">
          <div class="border-title">
            state
          </div>
          <div class="border-desc">{{glitch.state.state}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 border">
          <div class="border-title">desription</div>
          <div class="border-desc">{{glitch.description}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 border">
          <div class="border-title">date of report</div>
          <div class="border-desc">{{glitch.dateOfReport | date: "dd.MM.y HH:mm"}}</div>
        </div>
        <div class="col-lg-5 border" *ngIf="glitch.repairApproved">
          <div class="border-title" >
            date of repair
          </div>
          <div class="border-desc">{{glitch.dateOfRepair | date : "dd.MM.y HH:mm"}}</div>
        </div>
        <div class="col-lg-5 border" *ngIf="!glitch.repairApproved">
          <div *ngIf="glitch.dateOfRepair==null">
            <div class="border-title" >
              date of repair
            </div>
            <div class="border-desc">{{glitch.dateOfRepair | date : "dd.MM.y HH:mm"}}</div>
          </div>
          <div *ngIf="glitch.dateOfRepair!=null">
              <div class="border-title" >
                  date of repair - {{glitch.dateOfRepair | date : "dd.MM.y HH:mm"}}
                </div>
                <div class="full-button" *ngIf="glitch.responsiblePerson.username==username">
                    <input type="text"  class="save-button-text" value="Approve the date" (click)="approve()">
                 </div>
            </div>
        </div>
        </div>
        <div class="row" *ngIf="changeResponsiblePerson">
            <div class="col-lg-1"></div>
            <div class="col-lg-10 border">
              <div class="border-title"></div>
              <div class="full-button" style="background: #cbc5c1">
                    <input type="text" style="background: #cbc5c1" class="save-button-text" value="Change responsible person..." (click)="sendToOtherUser()">
                 </div>
            </div>
        </div>
<!--
        <image-upload
         url="https://localhost:8443/api/upload" 
          [headers]="{'Content-Type':'multipart/form-data','Accept':'multipart/form-data'}"
          (removed)="onRemoved($event)"
          (uploadFinished)="imageFinishedUploading($event)"
          (uploadStateChanged)="onUploadStateChanged($event)">
        </image-upload>
      -->
      <br><br>
      <div class="row" *ngFor="let comment of comments">
        <br>
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="speech-bubble-right" *ngIf="comment.user.username === username">
            <p class="name">
               {{comment.user.username}}:<br>
            </p>
             {{comment.text}}
          </div>
          <div class="speech-bubble-left" *ngIf="comment.user.username !== username">
            <p class="name">
              {{comment.user.username}}: <br>
            </p>
              {{comment.text}}
          </div>
        </div>   
        <br>
      </div>
      <br><br>
      <div class="row">
        <form name="form" (ngSubmit)="saveComment()">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 border">
            <input type="text" class="form-control" [(ngModel)]="comment.text" name="text" placeholder="Add comment">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
  