<section>
  <div class="row">
    <div class="col-lg-9 main-chart">
      <p class="title">GLITCH</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 main-chart">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 border">
          <div class="border-title">type</div>
          <div class="border-desc">{{glitch.type.type}}</div>
        </div>
        <div class="col-lg-5 border">
          <div class="border-title">
            state
          </div>
          <div class="border-desc">{{glitch.state.state}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 border">
          <div class="border-title">desription</div>
          <div class="border-desc">{{glitch.description}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 border">
          <div class="border-title">date of report</div>
          <div class="border-desc">{{glitch.dateOfReport}}</div>
        </div>
        <div class="col-lg-5 border">
          <div class="border-title">
            date of repair
          </div>
          <div class="border-desc">{{glitch.dateOfRepair}}</div>
        </div>
        </div>
      <br><br>
    </div>
  </div>
</section>
  