<br>
<div class="row">
  <div class="col-lg-10">
    <a (click)="gotoAddGlitch()"  class="small-btn">Report glitch</a>
    <span class="building-view"> 
        <b>Apartment: </b> {{apartment.building.address.street}} {{apartment.building.address.number}}/{{apartment.number}}
    </span>
  </div>   
</div>
<br><br>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
        <table class="table table-hover">
              <thead>
              <tr>
                  <th>#</th>
                  <th>Date of report</th>
                  <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let glitch of glitches | orderBy: 'dateOfReport': true" (click)="gotoGetGlitch(glitch.id)">
                  <td>{{glitch.id}}</td>
                  <td>{{glitch.dateOfReport | date: "dd.MM.y HH:mm"}}</td>
                  <td>{{glitch.description}}</td>
              </tr>
              </tbody>
          </table>
      <br>
  </div>   
</div>
<div class="row">
  <nav data-pagination *ngIf="pager.totalPages > 1">
    <ul *ngIf="pager.pages && pager.pages.length">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </nav>
</div>