<section>
  <div class="row">
    <div class="col-lg-9 main-chart">
      <p class="title">NOTIFICATION</p>
      <p *ngIf="notification.user.username === username" class="delete-button">
        <a class="delete-x" (click)="deleteNotification()">x</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 main-chart">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 border">
          <div class="border-title">user</div>
          <div class="border-desc" id="user">{{notification.user.username}}</div>
        </div>
        <div class="col-lg-5 border">
          <div class="border-title">
            date
          </div>
          <div class="border-desc" id="date">{{notification.date | date: "dd.MM.y HH:mm"}}</div>
        </div>
      </div>
      <br><br> 
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="notification">
            <p> <br> {{notification.text}} <br> &nbsp; </p>
          </div>
        </div>   
    </div>    
    </div>
  </div>
</section>
  
