<div>
  <h3>Building</h3>
</div>
<button *ngIf="!building.president" (click)="gotoAddPresident()">Add president</button>
<button (click)="gotoAddApartment()">Add apartment</button>
<div>
  <label><b>Street</b></label>
  {{building.address.street}}
</div>
<div>
  <label><b>Number</b></label>
  {{building.address.number}}
</div>
<div>
  <label><b>Zip code</b></label>
  {{building.address.zipCode}}
</div>
<div>
  <label><b>City</b></label>
  {{building.address.city}}
</div>

<div *ngIf="building.id">
  <div>
    Apartments
  </div>
  <table>
    <tr *ngFor="let apartment of apartments">
      <td>
        {{apartment.number}}
      </td>
    </tr>
  </table>

</div>
<br>
<br>
<div *ngIf="building.president">
  <h5>
    President
  </h5>
  <div>
    <label><b>Username</b></label>
    {{building.president.username}}
  </div>
</div>

