.lists{
    height: 40px;
    margin: 5px;
    font-size: 15px;
    color: white;
    border-radius:10px;
    background: #cbc5c1;  
    width: 80%;
    line-height: 40px;
    
}

error{
    background-color: #ed5565;
    
}
.lists>.first-error{
    height: 40px;
    background: #ed5565;
    width: 35px;
    text-align: center;
    display: inline-block;
    border-radius:10px 0px 0px 10px;
}

.lists:hover{
    background: #a2aab0;
}

.lists:hover>.first{
    height: 40px;
    background: #4c586f;
    width: 440px;
    text-align: center;
    display: inline-block;
    border-radius:10px 0px 0px 10px;

}

.lists:hover>.first-error{
    height: 40px;
    background: #ed5565;
    width: 40px;
    text-align: center;
    display: inline-block;
    border-radius:10px 0px 0px 10px;

}
.lists>.first{
    height: 40px;
    background: #4c586f;
    width: 35px;
    text-align: center;
    display: inline-block;
    border-radius:10px 0px 0px 10px;

}
