<div class="row">
    <div class="col-lg-9 main-chart">
      <p class="title">ADD GLITCH</p>
    </div>
  </div>
  <div class="row">
    <form (ngSubmit)="save()">
      <div class="col-lg-9 main-chart">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-5 border">
            <div class="border-title">type</div>
            <div class="form-group">
                <select [(ngModel)]="glitch.type.id" [ngModelOptions]="{standalone: true}">
                    <option selected="selected" disabled>Glitch type...</option>
                    <option *ngFor="let type of glitchTypes" [value]="type.id">{{type.type}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 border">
            <div class="border-title">description</div>
            <div class="box">
              <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['description'].valid && complexForm.controls['description'].touched}">
                <input type="text" class="form-control" id="description" [(ngModel)]="glitch.description" [formControl]="complexForm.controls['description']" name="description" >
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
              <div class="full-button cancel" >
                <a class="full-button-text" (click)="cancel()">Cancel
                </a>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="full-button">
                  <button type="submit" class="save-button-text" [disabled]="!complexForm.valid">Save glitch</button>
            </div>
            </div>
        </div>
      </div>
    </form>
  </div>
  
                    
  
