<section>
    <div class="row">
      <div class="col-lg-9 main-chart">
        <p class="title">PROFILE</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-9 main-chart">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-5 border">
            <div class="border-title">username</div>
            <div class="border-desc">{{user.username}}</div>
          </div>
          <div class="col-lg-5 border">
            <div class="border-title">phone number</div>
            <div class="border-desc">{{user.phoneNo}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 border">
            <div class="border-title">email</div>
            <div class="border-desc">{{user.email}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="full-button">
              <a (click)="gotoUpdateUser()" class="full-button-text">Update</a>
              </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <div class="full-button">
              <a (click)="gotoChangePassword()" class="full-button-text">Change password</a>
              </div>
          </div>
        </div>
        <br><br>
      </div>
    </div>
  </section>
      