<section>
  <div class="row">
    <div class="col-lg-9 main-chart">
      <p class="title">BUILDING</p>
      <p *ngIf="apartments && apartments.length === 0" class="delete-button">
        <a  (click)="deleteBuilding()" class="delete-x">x</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-9 main-chart">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 border">
          <div class="border-title">city</div>
          <div class="border-desc">{{building.address.city}}</div>
        </div>
        <div class="col-lg-5 border">
          <div class="border-title">
            zip code
          </div>
          <div class="border-desc">{{building.address.zipCode}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 border">
          <div class="border-title">street</div>
          <div class="border-desc">{{building.address.street}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 border">
          <div class="border-title">number</div>
          <div class="border-desc">{{building.address.number}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="full-button">
            <a (click)="gotoEditBuilding()" class="full-button-text">Update building</a>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-9 main-chart president">
          <p class="title pFont">PRESIDENT</p>
            <a class="small-btn" *ngIf="!building.president"  (click)="gotoAddPresident()">Add president</a>
        </div>
      </div>
      <div class="row" *ngIf="building.president">
        <div class="col-lg-1"></div>
        <div class="col-lg-5 border">
          <div class="border-title">username</div>
          <div class="border-desc">{{building.president.username}}</div>
        </div>
        <div class="col-lg-5 border">
          <div class="border-title">phone number</div>
          <div class="border-desc">{{building.president.phoneNo}}</div>
        </div>
      </div>
      <div class="row" *ngIf="building.president">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 border">
          <div class="border-title">email</div>
          <div class="border-desc">{{building.president.email}}</div>
        </div>
      </div>
      <br><br><br><br><br><br>
    </div>
    <div class="col-lg-3 ds">
      <h3>APARTMENTS</h3>
      <div class="weather-new pn">
        <i class="fa fa-plus"></i>
        <h2><a (click)="gotoAddApartment()">NEW</a></h2>
        <h4></h4>
      </div>  
        <div *ngFor="let apartment of apartments">
          <div class="weather pn">
            <i class="fa fa-home"></i>
            <h2><a (click)="gotoGetApartment(apartment.id)">{{apartment.number}}</a></h2>
            <h4></h4>
          </div> 
        </div>
      </div>
    </div>
  </section>
  