<div class="row">
    <div class="col-lg-9 main-chart">
      <p class="title">ADD NOTIFICATION</p>
    </div>
  </div>
  <div class="row">
    <form name="form" (ngSubmit)="save()">
      <div class="col-lg-9 main-chart">
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 border">
            <div class="border-title">text</div>
            <div class="box">
              <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['text'].valid && complexForm.controls['text'].touched}">
                <input type="text" class="form-control" id="text" [(ngModel)]="notification.text" [formControl]="complexForm.controls['text']" name="text" autofocus>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
              <div class="full-button cancel" >
                <a class="full-button-text" (click)="cancel()">Cancel
                </a>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="full-button">
                <button type="submit" class="save-button-text" [disabled]="!complexForm.valid">Save</button>
              </div>
            </div>
          </div>
      </div>
    </form>
  </div>
  
                    
  